table, th, td{
    border: 1px solid #000;
    border-collapse: collapse;
    /* border-spacing: 5px; */
    padding: 5px;
}

table{
    width: 100%;
}

caption{
    font-family: 'Trocchi', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #1d70e0;
    line-height: 70px;
}

th{
    color: #f1f1f1;
    background-color: #1d70e0;
}

/*Para renglones pares*/
tr:nth-child(even){
    background-color: #a8dfe9;

}

/*Para renglones inpares*/
tr:nth-child(odd){
    background-color: #6b8fbd;
}